[Unit]
Description=Update Mediarr Docker containers
Requires=docker.service mnt-nas-downloads.mount
After=docker.service mnt-nas-downloads.mount

[Service]
Type=oneshot
ExecStart=/opt/mediarr/scripts/update.sh

[Install]
WantedBy=multi-user.target
